*{
    -fx-font-family: Ubuntu;
}

#header{
    -fx-font-size: 28;
    -fx-effect: dropshadow(gaussian, white, 2, 1.0, 0, 0);
}

#txt{
    -fx-background-color: #eeeeee;
    -fx-background-radius: 25;
    -fx-border-radius: 25;
}

#student{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: #0984e3;
    -fx-text-fill: white;
}
#stdDelete{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: #eb2f06;
    -fx-text-fill: white;
}

#btnSearch{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: #74b9ff;
    -fx-text-fill: white;
}

#date{
    -fx-alignment: center;
    -fx-font-size: 18;
}

#btnCancel{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: red;
    -fx-text-fill: white;
}

#btnSave{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color: green;
    -fx-text-fill: white;
}